
body{
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/Header-Img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
}

h1{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: xx-large;
    margin: 10px;
}


nav{
    margin-top: 10px;
    margin-right: 10px;
}



ul{
    list-style-type: none;
   
}
li{
    display: inline;
    font-size: xx-large;
    margin: 10px;
  
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bolder;
}
a:hover{
    color:rgb(226, 17, 17); 

}


 
video{
    width:100%;
    height:max-content;
    object-fit: cover;
 margin-top: -49px;
    position: absolute;
    z-index:-1;

}

.herotext h2{

    color: white;
    font-size: 60px;
    text-align: left;
    margin-left: 50px;


}
.herotext  h2:hover{
    color: rgb(226, 17, 17);
}
.herotext p{
    color:white;
    font-size: 25px;
    width: 50%;
    margin-top: -20px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
}

.Reservetable{
    width: 300px;
    height:max-content;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(218, 224, 229);
    opacity: 0.4;
    margin-right: 10px;
    margin-top: -400px;
    float: right;
   
}

.Reservetable h1{
    text-align: center;
    font-size: xx-large;
    color: black;
}

input,select{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: medium;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: large;
    font-weight: bolder;
    background-color: rgb(4, 33, 49);
    color: white;
    
}

footer{
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 470px;
   
  
}
footer h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
    margin-left: 10px;
    color: rgb(255, 255, 255);
  
}

footer p{
    font-size: large;
    font-weight: bolder;
    text-align: left;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    display: block;
}



.about-page{
    background-color: black;
    color: white;
}

.about-page .aboutcontainer h1{
    text-align: center;
    font-size: xxx-large;
    margin-top: 20px;
}
.about-page .aboutcontainer p{
    font-size: x-large;
    text-align: center;
    margin-top: 10px;
    text-align: justify;
}
.about-page .aboutcontainer img{
    height:400px;
    width:1300px;
    left:10px;
    margin-top: 10px;
}
.about-page #chefimg{
    height:400px;
    width:1200px;
    left:0px;
    margin-top: 10px;
}


.menu-page{
    background-color: black;
    color: white;
}



.menu-page main{
    background-image:url('images/Menu-Img.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
}
.menu-page img{
    height:200px;
    width:400px;
    margin-left:100px;
    border-radius: 20px;
}

.menu-page .menucontainer h1{
    text-align: left;
    margin-left:100px;
    font-size: 120px;
    color: rgb(255, 255, 255);
}
.menu-page .menucontainer h2{
    text-align:left;
    font-size: 40px;
    margin-left:100px;
    color: sandybrown;
    margin-top: 20px;
}
.menu-page .menucontainer p{
    text-align: left;
    font-size: 20px;
    margin-left:100px;
    color: white;
}
.menu-page .menucontainer span{
    font-weight: bold;
    font-size: xx-large;
    color: rgb(207, 165, 13);
    margin-left: 100px;
}

.Review-Page{
    background-image: url("images/Review-Img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.Review-Page .customers h1{
    text-align: center;
    font-size: 60px;
    margin: 30px;
    font-style: italic;
   
}
.Review-Page .customers h2{
    text-align:left;
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: sandybrown;

}

.Review-Page .customers p{
    font-size: x-large;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
   padding-bottom: 30px;
    border-bottom: 2px dotted rgb(250, 243, 243);
    font-weight: bolder;
}

.Review-Page .customers img{

    height:150px;
    width:150px;
    left:10px;
    margin-top: 10px;
    border-radius: 50%;

}

